@import url("https://fonts.googleapis.com/css?family=Andada|Lato:300,400,700|PT+Sans:700&display=swap");
html { box-sizing: border-box; min-height: 100vh; }

*, *::after, *::before { box-sizing: inherit; }

body { max-width: 1599px; width: 100%; margin: 0 auto; }

div.col-md-4 { padding: 0; }

.border { background-color: #ffc600; height: 2px; }

.navbar { background-color: #f8f8f8; height: 48px; margin: 0; }

.social__list { list-style: none; line-height: 45px; }

.social__item--facebook { padding-right: 14px; padding-left: 199px; }

.navbar-collapse, .btn, .navbar-nav { padding: 0; }

.envelope { padding: 12px 0 0 0; margin-right: 15px; height: 48px; width: 17px; }

.dropdown__toggle-language { background-color: transparent; border-left: 1px solid #bbb; height: 48px; padding-left: 12px; width: 110px; }

.dropdown-language { margin-right: 200px; font-family: "Lato"; }

.glyphicon-chevron-down { font-size: 12px; font-weight: 400; }

.header { width: 100%; text-align: center; padding-top: 18px; }

.row { margin: 0; }

.input-group .form-control { border-radius: 0; height: 46px; width: 475px; font-weight: 300; background-color: #ffffff; border: 1px solid #e6e6e6; box-shadow: none; }

.hydro-logo { left: 55px; }

.hydro-logo, .search-input, .glyphicon-search { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 65px; }

.glyphicon-search { top: 0; height: 46px; border-radius: 0; width: 50px; color: #777777; font-size: 20px; background-color: transparent; border: 1px solid #e6e6e6; }

.login-register { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; text-transform: uppercase; font-weight: 700; font-size: 14px; margin-top: 24px; padding-right: 130px; font-family: "Andada", sans-serif; }

.yellow-line { display: block; }

@media (max-width: 1200px) { .input-group .form-control { width: 100%; } }

.navigation__list { list-style: none; }

.navigation__item { text-transform: uppercase; }

.main-header { height: 53px; border-top: 1px solid #e6e6e6; padding-top: 19px; margin-top: 31px; }

.navigation__list { margin-left: 201px; }

.navigation__item { padding: 0 22px 0 0; font-family: "Lato", sans-serif; font-weight: 400; }

.navigation__anhor, .login-register__title, .shopping-cart__title { color: #000; }

.login-register__title { margin: 0; }

.shopping-cart--icon { position: absolute; display: inline-block; background-image: url("../images/shopping_cart-icon.png"); height: 20px; width: 22px; }

.badge { position: absolute; bottom: 76%; background-color: #044c7e; left: 18.8em; width: 13px; height: 13px; }

.shopping-cart__number { font-family: "Lato", sans-serif; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 6.1px; }

.shopping-cart__title { position: relative; text-transform: uppercase; display: inline-block; font-family: "Lato", sans-serif; padding-left: 13px; bottom: 4px; }

.shopping-cart--icon, .shopping-cart__title { position: relative; left: 13.8em; }

.shopping-cart--icon, .shopping-cart__title:hover { text-decoration: underline; }

.hero { position: relative; background-image: url("../images/layer_29.png"); background-position: center; background-size: cover; background-repeat: no-repeat; height: 500px; }

.hero__title { position: absolute; top: 139px; left: 400px; color: #fff; font-size: 48px; line-height: 50px; font-family: sans-serif; margin: 0; }

.hero__button { position: absolute; bottom: 139px; left: 400px; width: 231px; height: 45px; border-radius: 10px; border-style: none; background-color: #ffc600; color: #000; font-size: 18px; font-weight: bold; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.hero__button:hover { color: #000; text-decoration: none; }

.hero__arrow-icon { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; line-height: 1px; height: 15px; width: 5px; }

.about { text-align: center; margin: 0 auto; }

.about__title { font-size: 30px; text-transform: uppercase; color: #222222; font-family: "PT Sans", sans-serif; font-weight: bold; margin: 83px 0 0 0; }

.about__list { padding: 0; list-style: none; }

.about__description { font-size: 16px; color: #777777; font-family: "PT Sans", sans-serif; margin: 13px 0 23px; }

.about__item { margin: 21px 21px 0 21px; height: 177px; width: 235px; border: 1px solid black; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; overflow: hidden; }

.row { margin-left: 17px; }

.about__paragraph { font-size: 14px; color: #010101; font-family: "PT Sans", sans-serif; font-weight: bold; }

.production { text-align: center; height: 403px; font-family: "PT Sans", sans-serif; background-image: url("../images/layer_22.png"); padding: 0; margin-top: 49px; width: 100%; }

.production__title { font-size: 20px; color: #ffffff; font-weight: bold; text-transform: uppercase; padding: 47px 0 0 0; margin: 0; }

.production__description { color: #ffffff; font-size: 16px; margin-top: 15px; margin-bottom: 39px; }

.carousel-inner { height: 200px; }

.slider__list.row { margin: 0 auto; width: 82.5%; }

.slider__list { position: relative; }

.carousel.slide { margin: 0; padding: 0; font-size: 0; }

.slider__item { height: 207px; width: 285px; background-color: #fff; border: 1px solid #f0f2f1; margin-left: 20px; padding-bottom: 40px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.slider__image--position-cable { position: absolute; bottom: 15%; right: 0; }

p.slider__paragraph--position-cable { top: 70%; left: 50%; }

.slider__paragraph { width: 100%; font-weight: bold; line-height: 22px; color: #010101; font-size: 22px; position: absolute; top: 77%; left: 50%; transform: translateX(-50%); }

.carousel-control { border-radius: 50%; height: 47px; width: 47px; background-color: #034b7d; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin: auto 8%; }

.offer { background-color: #f0f2f1; font-family: "PT Sans", sans-serif; font-size: 20px; width: 100%; }

.offer-info__list, .offer-second-info__list { list-style: none; margin: 0 auto; width: 83%; }

.offer-info__item { position: relative; height: 46px; width: 393px; background-color: #044c7e; margin-left: 10px; margin-top: 41px; padding: 0; overflow: hidden; }

.offer-info__item::after { position: absolute; top: 100%; left: 75%; content: ""; display: both; width: 288px; height: 235px; background-color: #044c7e; transform: rotate(30deg); }

.offer-info--bar { display: inline-block; color: #044c7e; height: 43px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-left: 13px; background-color: #fff; }

.offer-info--bar:hover { background-color: #ffc600; }

.offer-second-info__item { margin-left: 10px; margin-top: 42px; padding: 0; height: 262px; width: 393px; }

.position-button { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.offer__button { display: inline-block; border-radius: 10px; background-color: #044c7e; color: #fff; font-size: 18px; line-height: 57px; height: 45px; width: 212px; margin-top: 41px; margin-bottom: 34px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.offer__button:hover { color: #fff; }

.offer__arrow-icon { margin-left: 10px; }
