@import url("https://fonts.googleapis.com/css?family=Andada|Lato:300,400,700|PT+Sans:700|Raleway:700&display=swap");
html { box-sizing: border-box; min-height: 100vh; }

*, *::after, *::before { box-sizing: inherit; }

body { max-width: 1599px; width: 100%; margin: 0 auto; }

div.col-md-4 { padding: 0; }

.border { background-color: #ffc600; height: 2px; }

.navbar { background-color: #f8f8f8; height: 48px; margin: 0; }

.social__list, .infos__list { list-style: none; line-height: 45px; }

.social__item--support { font-size: 12px; font-family: "Lato"; font-weight: 300; border-right: 1px solid #dadada; margin-left: 16em; margin-right: 1px; padding-right: 1.1em; }

.social__item--facebook { padding-right: 14px; padding-left: 199px; }

.social__item.social__item--facebook.social__item--space { padding-left: 18px; }

.navbar-collapse, .btn, .navbar-nav { padding: 0; }

.navigation--category.navbar-collapse.collapse { border-bottom: 1px solid #dadada; max-height: 53px; }

.navigation__item--second-btn { margin: -2px; }

.envelope { padding: 12px 0 0 0; margin-right: 15px; height: 48px; width: 17px; }

.dropdown__toggle-language { background-color: transparent; border-left: 1px solid #dadada; height: 48px; padding-left: 12px; width: 110px; }

.infos__item { font-size: 12px; font-family: "Lato"; height: 48px; padding-left: 24px; border-left: 1px solid #dadada; margin-right: 24px; text-transform: uppercase; }

.infos__item--faq { font-weight: 300; }

.infos__item--account { font-weight: 900; margin: 0; }

.dropdown-language { margin-right: 190px; font-family: "Lato"; }

.dropdown__toggle-choose-category { background-color: #044c7e; color: #ffffff; height: 53px; width: 257px; font-family: "Lato"; font-weight: 400; text-transform: uppercase; }

.dropdown-menu__list--category { width: 94%; }

.dropdown__toggle-choose-category:hover { color: #fff; }

.glyphicon-chevron-down-category { padding-left: 63px; }

.glyphicon-chevron-down { font-size: 12px; font-weight: 400; }

.header { width: 100%; text-align: center; padding-top: 18px; }

.row { margin: 0; }

.input-group .form-control { border-radius: 0; height: 46px; width: 475px; font-weight: 300; background-color: #ffffff; border: 1px solid #e6e6e6; box-shadow: none; }

.hydro-logo { left: 55px; }

.hydro-logo, .search-input, .glyphicon-search { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 65px; }

.glyphicon-search { top: 0; height: 46px; border-radius: 0; width: 50px; color: #777777; font-size: 20px; background-color: transparent; border: 1px solid #e6e6e6; }

.login-register { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; text-transform: uppercase; font-weight: 700; font-size: 14px; margin-top: 24px; padding-right: 130px; font-family: "Andada", sans-serif; }

.yellow-line { display: block; }

@media (max-width: 1200px) { .input-group .form-control { width: 100%; } }

.navigation__list { list-style: none; }

.navigation__item { text-transform: uppercase; }

.main-header { height: 53px; border-top: 1px solid #e6e6e6; padding-top: 19px; margin-top: 31px; }

.main-header-category { padding: 0; }

.navigation__list { margin-left: 201px; }

.navigation__item { padding: 0 22px 0 0; font-family: "Lato", sans-serif; font-weight: 400; }

.navigation__link, .login-register__title, .shopping-cart__title { color: #000; }

.login-register__title { margin: 0; }

.shopping-cart--icon { position: absolute; display: inline-block; background-image: url("../images/shopping_cart-icon.png"); height: 20px; width: 22px; }

.badge { position: absolute; bottom: 76%; background-color: #044c7e; left: 18.8em; width: 13px; height: 13px; }

.shopping-cart__number { font-family: "Lato", sans-serif; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 6.1px; }

.account__link--shopping-icon { padding-left: 11px; }

.shopping-cart__title { position: relative; text-transform: uppercase; display: inline-block; font-family: "Lato", sans-serif; padding-left: 13px; bottom: 4px; }

.shopping-cart--icon, .shopping-cart__title { position: relative; left: 13.8em; }

.shopping-cart--icon, .shopping-cart__title:hover { text-decoration: underline; }

p.account__title--prize-info { font-size: 12px; font-family: "Lato"; font-weight: 300; }

.hydro-logo2 { position: relative; margin-left: 40px; }

.hydro-logo2__image2 { position: absolute; top: 95%; left: 55.5%; }

.search-input-separate { padding-left: 60px; }

.account.col-md-2 { width: 28%; padding: 0; }

.account__image { line-height: 6px; padding-bottom: 6px; }

.account__link--favorite-icon { margin-left: 2.2em; }

.navigation__item--second, .navigation__item--third { margin-right: 20px; padding: 0 22px 0 0; font-family: "Lato", sans-serif; font-weight: 400; text-transform: uppercase; }

.navigation__item--third { line-height: 53px; }

.navigation__link--category { color: #989898; }

.account__title { display: inline-block; text-transform: uppercase; font-size: 14px; font-family: "Lato"; padding-left: 5px; font-weight: 700; color: #000000; line-height: 60px; }

.account { left: 9%; top: 0; }

.account__link-separate { padding-left: 30px; }

.log-out--image { position: absolute; left: 51%; top: 0; }

.log-out--link { padding-left: 50px; }

.special-offer__title { position: relative; text-transform: uppercase; display: inline-block; font-family: "Lato", sans-serif; padding-left: 13px; bottom: 4px; color: #044c7e; margin-left: 80px; line-height: 58px; }

@media (min-width: 768px) and (max-width: 991px) { .social__item--facebook { padding-left: 8em; }
  .dropdown-language { margin-right: 4.5em; }
  .hydro-logo { margin-left: -9.5em; }
  .form-control.form-control--expand { width: 25em; margin-left: -1.5em; }
  .login-register__title { margin-right: 1em; font-size: 18px; }
  .login-register-image { width: 38%; margin-right: 2em; }
  .shopping-cart--icon, .shopping-cart__title { left: -5em; }
  .badge { left: -3.2em; }
  .navigation__list { margin-left: 8.8em; font-size: 11px; } }

@media (min-width: 992px) and (max-width: 1199px) { .social__item--facebook { padding-left: 8em; }
  .dropdown-language { margin-right: 4.5em; }
  .hydro-logo { left: 1.5em; }
  .form-control.form-control--expand { width: 20em; }
  .login-register__title { margin-right: 2em; font-size: 14px; }
  .login-register-image { width: 65%; margin-right: 2em; }
  .shopping-cart--icon, .shopping-cart__title { left: -5em; }
  .badge { left: -3.2em; }
  .navigation__list { margin-left: 7.8em; } }

@media (min-width: 1200px) { .social__item--facebook { padding-left: 14.5em; }
  .dropdown-language { margin-right: 13.5em; }
  .hydro-logo { left: 3.2em; }
  .login-register__title { margin-right: 5em; font-size: 14px; }
  .login-register-image { width: 40%; margin-right: 4em; }
  .shopping-cart--icon, .shopping-cart__title { left: 15em; }
  .badge { left: 20.2em; }
  .navigation__list { margin-left: 14.5em; } }

.hero { position: relative; background-image: url("../images/layer_29.png"); background-position: center; background-size: cover; background-repeat: no-repeat; height: 500px; }

.hero__title { position: absolute; top: 139px; left: 400px; color: #fff; font-size: 48px; line-height: 50px; font-family: sans-serif; margin: 0; }

.hero__span--bold { font-weight: bold; }

.hero__button { position: absolute; bottom: 139px; left: 400px; width: 231px; height: 45px; border-radius: 10px; border-style: none; background-color: #ffc600; color: #000; font-size: 18px; font-weight: bold; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.hero__button:hover { color: #000; text-decoration: none; }

.hero__arrow-icon { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; line-height: 1px; height: 15px; width: 5px; }

@media (min-width: 768px) and (max-width: 991px) { .hero__title, .hero__button { left: 60px; } }

@media (min-width: 992px) and (max-width: 1199px) { .hero__title, .hero__button { left: 100px; } }

.about { text-align: center; }

.about__title { font-size: 30px; text-transform: uppercase; color: #222222; font-family: "PT Sans", sans-serif; font-weight: bold; margin: 83px 0 0 0; }

.about__description { font-size: 16px; color: #777777; font-family: "PT Sans", sans-serif; margin: 13px 0 23px; }

.about__list { padding: 0; list-style: none; }

.about__item { height: 207px; max-width: 285px; border: 1px solid #f0f2f1; margin: 21px auto; overflow: hidden; }

.about__link { height: 100%; width: 100%; }

.about__image { margin-top: 20px; height: 109px; max-width: 165px; width: 100%; }

.about__paragraph { font-size: 20px; color: #010101; font-family: "PT Sans", sans-serif; font-weight: bold; }

@media (min-width: 768px) and (max-width: 991px) { .about__paragraph { font-size: 18px; } }

@media (min-width: 992px) and (max-width: 1200px) { .about__paragraph { font-size: 18px; } }

.production { text-align: center; height: 403px; font-family: "PT Sans", sans-serif; background-image: url("../images/layer_22.png"); margin-top: 49px; width: 100%; }

.production__title { font-size: 20px; color: #ffffff; font-weight: bold; text-transform: uppercase; }

.production__description { color: #ffffff; font-size: 16px; margin-top: 15px; margin-bottom: 39px; }

.slider__list { list-style: none; position: relative; padding: 0; }

.slider__item--space { padding: 0 6px; }

.slider__item--wrapper { height: 207px; max-width: 285px; background-color: #fff; border: 1px solid #f0f2f1; margin: 0 auto; overflow: hidden; }

.slider__link { height: 237px; width: 285px; }

.slider__image { height: 120px; margin-top: 12px; }

.slider__image--space { padding-top: 16px; }

.slider__paragraph { text-align: center; width: 100%; font-weight: bold; line-height: 22px; color: #010101; font-size: 22px; margin-top: 10px; }

.slider__image--position-cable { margin: -1em 0 0 57px; height: 188px; max-width: 219px; width: 100%; }

.slider__paragraph--position-cable { position: relative; bottom: 1.8em; left: 0; right: 0; }

.carousel-inner { height: 200px; }

.carousel-control { border-radius: 50%; height: 47px; width: 47px; background-color: #034b7d; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin: auto 12%; }

@media (max-width: 767px) { .carousel-control { margin: auto 0; } }

@media (min-width: 768px) and (max-width: 991px) { .carousel-control { margin: auto 0; } }

@media (min-width: 992px) and (max-width: 1199px) { .carousel-control { margin: auto 0; } }

@media (min-width: 1200px) { .slider__item--space { width: 19.5%; }
  .slider__list { position: relative; left: 2.9em; }
  .carousel-control { margin: auto 7%; } }

.offer { background-color: #f0f2f1; font-family: "PT Sans", sans-serif; font-size: 20px; width: 100%; }

.offer-info--space, .offer-second-info--space { padding: 0 6.5px; }

.offer-info__list, .offer-second-info__list { list-style: none; padding: 0; }

.offer-info__item--wrapper::after { position: absolute; top: 100%; left: 75%; content: ""; display: both; width: 288px; height: 235px; background-color: #044c7e; transform: rotate(30deg); }

.offer-info__item--wrapper { position: relative; height: 46px; max-width: 393px; background-color: #044c7e; margin: 41px auto 0; overflow: hidden; }

.offer-info__link:hover { text-decoration: none; }

.offer-info--bar { display: inline-block; color: #044c7e; height: 43px; max-width: 393px; width: 100%; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-left: 13px; background-color: #fff; }

.offer-info--bar:hover { background-color: #ffc600; }

.offer-second-info__item--wrapper { height: 262px; margin: 41px auto 0; max-width: 393px; }

.offer-second-info__image { max-width: 100%; height: auto; }

.offer-position { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.offer-position__button { display: inline-block; border-radius: 10px; background-color: #044c7e; color: #fff; font-size: 18px; line-height: 57px; height: 45px; width: 212px; margin-top: 41px; margin-bottom: 34px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.offer-position__button:hover { text-decoration: none; }

.offer-position__arrow-icon { margin-left: 10px; }

@media (min-width: 1200px) { .offer-info__item--wrapper::after { left: 75%; }
  .offer-info--space, .offer-second-info--space { width: 26%; }
  .offer-info__list, .offer-second-info__list { position: relative; right: 4.5em; } }

.newsletter { height: 169px; background-color: #13af99; color: #fff; font-family: "PT Sans", sans-serif; }

.newsletter__title { font-family: "Raleway", sans-serif; font-size: 34px; font-weight: 700; margin: 66px 0 6px 171px; }

.newsletter__description { font-size: 16px; color: #aafbef; margin: 0 0 0 171px; }

.newsletter__input { margin-top: 74px; width: 382px; height: 41px; color: #5a5a5a; margin-left: 70px; }

.newsletter__button { background-color: #044c7e; border: none; height: 41px; text-transform: uppercase; width: 128px; margin-right: 20px; }

@media (min-width: 768px) and (max-width: 991px) { .newsletter__title { margin: 66px 0 6px 0; font-size: 2.1rem; }
  .newsletter__description { margin-left: 0; font-size: 1.2rem; }
  .newsletter__input { width: 134px; } }

@media (min-width: 992px) and (max-width: 1199px) { .newsletter__title { margin: 66px 0 6px 30px; font-size: 2.7rem; }
  .newsletter__description { margin-left: 30px; font-size: 1.2rem; }
  .newsletter__input { width: 282px; } }

.footer { height: 526px; font-family: "PT Sans", sans-serif; }

.company-logo__image { margin-top: 74px; }

.footer-informative__title, .social-informative__title, .footer-informative__item, .social-informative__item, .footer-informative__item--top { margin: 0; letter-spacing: 1px; line-height: 30px; font-family: "Lato"; font-weight: 300; }

.footer-informative__title, .social-informative__title { text-transform: uppercase; font-size: 14px; color: #252123; font-family: "Lato"; font-weight: 700; }

.footer-informative__item, .social-informative__item, .footer-informative__link, .footer-informative__item--top, .social-informative__paragraph { color: #898888; font-size: 15px; }

.footer-informative__item--top { padding-top: 15px; }

.footer-informative__list, .social-informative__list { padding: 0 0 0 5px; list-style: none; }

.footer-informative, .social-informative { margin-top: 89px; }

.footer-informative--line::before { position: absolute; content: ''; left: -30%; top: 0; width: 1px; height: 222px; background-color: #f0f2f1; }

.social-informative::before { position: absolute; left: -10%; top: 0; content: ''; width: 1px; height: 222px; background-color: #f0f2f1; }

.social-informative__paragraph { display: inline-block; padding-left: 15px; }

.baner-logo-space { display: inline-block; }

.baner-logo { margin: 29px 100px 0 0; }

.footer-header__list { list-style: none; margin-top: 80px; }

.footer-header__item { display: inline-block; font-size: 13px; border-left: 1px solid #898888; padding: 0 10px 0; }

.footer-header__item:nth-last-child(n+5) { border-left: none; }

.footer-header__link, .footer-maker__link { color: #898888; letter-spacing: 1px; }

@media (min-width: 768px) and (max-width: 991px) { .company-logo__image { width: 277px; height: 85px; margin: 90px 0 0 14.5em; }
  .footer-informative__item, .social-informative__item, .footer-informative__link, .footer-informative__item--top, .social-informative__paragraph, .footer-header__link, .footer-maker__link { font-size: 12px; }
  .input-group--first { margin-left: 4.5em; }
  .input-group--second { margin-left: 1em; }
  .input-group--third { margin-left: 1.5em; }
  .input-group--forth { margin-left: 3em; }
  .footer-header__link { margin-right: 0; margin-left: .5em; font-size: 10px; }
  .footer-maker__link { margin-right: 5em; font-size: 11px; }
  .social-informative__paragraph { font-size: 11px; }
  .footer-header__item { padding: 0 1px 0; margin: 0 0 0 1px; }
  .baner-logo-space { top: 2em; width: 155px; }
  .baner-logo { left: 9em; }
  .baner-logo__image { max-width: 100%; height: auto; }
  .baner-logo__image--space { padding-left: 19.5em; }
  .footer-informative--line::before { left: -34%; }
  .social-informative::before { left: -35%; }
  .footer-informative__title, .social-informative__title { font-size: 14px; }
  .footer-header__list { margin-left: 3em; }
  .footer-header__item { padding: 0 1px 0; margin: 0 0 0 1px; } }

@media (min-width: 992px) and (max-width: 1199px) { .company-logo__image { width: 157px; height: 45px; margin: 90px 0 0 120px; }
  .footer-informative__item, .social-informative__item, .footer-informative__link, .footer-informative__item--top, .social-informative__paragraph, .footer-header__link, .footer-maker__link { font-size: 15px; }
  .input-group--first { left: 8em; }
  .input-group--second { left: 4em; }
  .input-group--third { left: 5em; }
  .input-group--forth { left: 12.5em; }
  .footer-header__link { margin-left: 1.5em; }
  .footer-maker__link { margin-right: 8em; }
  .footer-header__link { margin-left: 2em; }
  .footer-header__item { padding: 0 1px 0; margin: 0 0 0 1px; }
  .baner-logo-space { top: 2em; width: 155px; }
  .baner-logo { left: 9em; }
  .baner-logo__image { max-width: 100%; height: auto; }
  .baner-logo__image--space { padding-left: 14.5em; }
  .footer-informative--line::before { left: -90%; }
  .social-informative::before { left: -35%; }
  .footer-header__list { margin-left: 3em; }
  .footer-maker__link { margin-right: 8em; }
  .footer-header__link { margin-left: .5em; font-size: 13px; }
  .footer-header__item { padding: 0 1px 0; margin: 0 0 0 1px; } }

@media (min-width: 1200px) { .company-logo__image { width: 157px; height: 45px; margin: 74px 0 0 16.8em; }
  .footer-informative__item, .social-informative__item, .footer-informative__link, .footer-informative__item--top, .social-informative__paragraph, .footer-header__link, .footer-maker__link { font-size: 15px; }
  .input-group--first, .input-group--second, .input-group--third, .input-group--forth { font-size: 15px; }
  .input-group--first { margin-left: 12.6em; bottom: 1em; }
  .input-group--second { margin-left: -4.8em; font-size: 15px; }
  .input-group--third { margin-top: 8em; margin-left: -4.6em; }
  .input-group--forth { left: -3.6em; }
  .footer-informative--line::before, .social-informative::before { top: -.5em; }
  .footer-informative--line::before { left: -3em; }
  .social-informative::before { left: -2em; }
  .footer-header__link { margin-left: 1.5em; }
  .footer-maker__link { margin-right: 8em; }
  .footer-header__link { margin-left: 2em; }
  .footer-header__item { padding: 0 1px 0; margin: 0 0 0 1px; }
  .baner-logo-space { top: 2em; width: 155px; }
  .baner-logo { margin-left: 17em; padding: 0; }
  .baner-logo-space { width: 78px; margin-left: 22px; }
  .baner-logo__image--space { padding-left: 18em; }
  .footer-header__list { margin-left: 11em; }
  .footer-maker__link { margin-right: 19em; font-size: 13px; }
  .footer-header__link { margin-left: .5em; font-size: 13px; }
  .footer-header__item { padding: 0 1px 0; margin: 0 0 0 1px; } }

.product { height: 623px; box-shadow: 0 5px 15px rgba(107, 105, 105, 0.1) inset; font-family: 'PT Sans', sans-serif; }

.navigate-product__list { list-style: none; }

.navigate-product__item { padding-top: 30px; color: #989898; font-family: "Lato"; font-weight: 400; }

.navigate-product__item--separate { margin-left: 11.5em; }

.navigate-product--bold { font-weight: bold; color: #000; }

.navigate-product__link { position: absolute; top: 30px; left: 39%; }

.navigate-product--arrow { display: inline-block; color: #000; }

.navigate-product__paragraph { display: inline-block; color: #000; font-family: 'PT Sans', sans-serif; padding-left: 10px; padding-right: 15px; }

.navigate-product__image { border-left: 1px solid gray; padding-left: 15px; }

.select-product-space.col-md-1.col-md-offset-1 { margin-left: 13.1em; }

.thumbnail--larger { position: relative; height: 326px; width: 435px; }

.thumbnail__zoom { position: absolute; bottom: 0; left: 0; }

.thumbnail__discount-info { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; position: absolute; color: #fff; top: 0; left: 0; background-color: #e22d2d; height: 28px; width: 50px; }

.select-product { margin-top: 31px; }

.select-product__item { width: 85%; }

.select-product-dot { display: inline-block; height: 9px; width: 9px; border-radius: 50%; margin-left: 4px; }

.select-product-dot--red { background-color: #ea0000; }

.select-product-dot--green { background-color: #83b735; }

.select-product--inline-gray { display: inline-block; color: #676767; margin: 0; }

.select-product__item--space { margin-top: 10px; }

.select-product-spaces.col-md-7.col-md-offset-2 { margin-left: 24em; }

.select-product__list, .buy-product__list--button { list-style: none; }

.select-option__item { display: inline-block; }

.thumbnail--smaller { height: 84px; width: 84px; }

.gallery { padding: 0; width: 20%; }

.select-product__title { font-family: "Lato"; font-weight: 900; }

.select-product__title--1st { font-size: 30px; color: #2d2a2a; margin-top: 0; }

.select-product__title--second { font-size: 20px; color: #044c7e; }

.select-product--gray { color: #676767; }

.buy-product__item__link { height: 40px; width: 25px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.buy-product__item__pagination, .buy-product__item--number { color: #676767; }

.buy-product__list { width: 100%; }

.buy-product__item--button { margin-left: 58px; }

a.buy-product--item-button-add { background-color: #83b735; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; width: 125px; height: 40px; text-transform: uppercase; font-size: 14px; font-family: "Lato"; font-weight: 400; color: #ffffff; padding: 0; }

a.buy-product--item-button-add:hover { color: #ffffff; text-decoration: none; }

.select-option__list { padding: 0; margin-bottom: 25px; }

.select-option__link { display: inline-block; color: #000000; }

.select-option--line { display: block; border-top: 1px solid #c7c5c5; width: 70%; height: 1px; }

.select-option__link--share { font-family: "Lato"; font-weight: 400; line-height: 60px; }

.select-option__image { padding-left: 5px; }

.select-option__image { padding-right: 8px; }

.select-option__link-space { padding-left: 23px; }

.technical { height: 401px; width: 100%; border: 1px solid #e6e6e6; background-color: #fbfbfb; text-align: center; font-family: "PT Sans", sans-serif; }

.technical__title { font-size: 30px; color: #222222; font-weight: bold; text-transform: uppercase; margin: 46px 0 53px; }

.technical__list { list-style: none; padding: 0; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.technical__item { display: inline-block; font-size: 16px; }

.nav-tabs { border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { background: none; border: none; }

.technical__link { color: #a1a1a1; text-transform: uppercase; margin-right: 40px; }

.technical__paragraph { text-align: left; width: 40%; margin-left: 37.3em; font-size: 14px; line-height: 22px; color: #676767; border-top: 1px solid #e6e6e6; padding-top: 1em; }

.similar-products { height: 586px; text-align: center; font-family: "PT Sans", sans-serif; }

.similar-products__title { font-size: 30px; color: #222222; font-weight: bold; text-transform: uppercase; margin-top: 50px; }

.similar-products__paragraph { font-size: 16px; color: #777777; margin-bottom: 40px; }

.similar-products__list { margin-left: 60px; position: relative; }

.similar-products__item { border: 1px solid #e6e6e6; height: 300px; width: 292px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin-right: 10px; }

.similar-products--icon { position: absolute; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; color: #fff; font-family: "Lato"; font-weight: 400; }

.similar-products__discount { top: -56%; right: 112%; background-color: #e22d2d; height: 28px; width: 50px; }

.similar-products__sale { top: -56%; right: 79%; background-color: #ffc600; height: 28px; width: 100px; text-transform: uppercase; }

.thumbnail-similar-products__paragraph--name { position: absolute; top: 175%; left: 50%; width: 100%; transform: translateX(-50%); font-size: 16px; color: #010101; font-family: "Lato"; font-weight: 400; }

.thumbnail-similar-products__paragraph--prize { position: absolute; top: 195%; left: 50%; width: 100%; transform: translateX(-50%); }

.similar-products__highlight { color: #044c7e; font-family: "Lato"; font-weight: 700; }

.similar-products--discount { color: #a1a1a1; text-decoration: line-through; }
