.about {
  text-align: center;

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    color: #222222;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin: 83px 0 0 0;
  }

  &__description {
    font-size: 16px;
    color: #777777;
    font-family: "PT Sans", sans-serif;
    margin: 13px 0 23px;
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__item {
    height: 207px;
    max-width: 285px;
    border: 1px solid #f0f2f1;
    margin: 21px auto;
    overflow: hidden;
    // padding: 0;
  }

  &__link {
    height: 100%;
    width: 100%;
  }

  &__image {
    margin-top: 20px;
    height: 109px;
    max-width: 165px;
    width: 100%;
  }

  &__paragraph {
    font-size: 20px;
    color: #010101;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .about__paragraph {
    font-size: 18px;
  }
}

@media(min-width: 992px) and (max-width: 1200px) {
  .about__paragraph {
    font-size: 18px;
  }
}