html {
  box-sizing: border-box;
  min-height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  max-width: 1599px;
  width: 100%;
  margin: 0 auto;
  // padding: 16px;
}

div.col-md-4 {
  padding: 0;
}

.border {
  background-color: #ffc600;
  height: 2px;
}

.navbar {
  background-color: #f8f8f8;
  height: 48px;
  margin: 0;
}

// Social icons
.social__list, .infos__list {
  list-style: none;
  line-height: 45px;
}

// FACEBOOK ICON

.social__item--support {
  font-size: 12px;
  font-family: "Lato";
  font-weight: 300;
  border-right: 1px solid #dadada;
  margin-left: 16em;
  margin-right: 1px;
  padding-right: 1.1em;
}

.social__item--facebook {
  padding-right: 14px;
  padding-left: 199px;
}

.social__item.social__item--facebook.social__item--space {
  padding-left: 18px;
}

.navbar-collapse,
.btn,
.navbar-nav {
  padding: 0;
}

.navigation--category.navbar-collapse.collapse {
  border-bottom: 1px solid #dadada;
  max-height: 53px;
}

.navigation__item--second-btn {
  margin: -2px;
}

// ENVELOPE ICON

.envelope {
  padding: 12px 0 0 0;
  margin-right: 15px;
  height: 48px;
  width: 17px;
}

// border-left in beetween two icons: envelope & dropdown language
.dropdown__toggle-language {
  background-color: transparent;
  border-left: 1px solid #dadada;
  height: 48px;
  padding-left: 12px;
  width: 110px;
}

.infos__item {
  font-size: 12px;
  font-family: "Lato";
  height: 48px;
  padding-left: 24px;
  border-left: 1px solid #dadada;
  margin-right: 24px;
  text-transform: uppercase;
  // width: 110px;
}

.infos__item--faq {
  font-weight: 300;
}

.infos__item--account {
  font-weight: 900;
  margin: 0;
}

// DROPDOWN LANGUAGE

.dropdown-language {
  margin-right: 190px;
  font-family: "Lato";
}

.dropdown__toggle-choose-category {
  background-color: #044c7e;
  color: #ffffff;
  height: 53px;
  width: 257px;
  font-family: "Lato";
  font-weight: 400;
  text-transform: uppercase;
}

.dropdown-menu__list--category {
  width: 94%;
}

.dropdown__toggle-choose-category:hover {
  color: #fff;
}

.glyphicon-chevron-down-category {
  padding-left: 63px;
}

.glyphicon-chevron-down {
  font-size: 12px;
  font-weight: 400;
}

// HEADER2 SECTION

.header {
  width: 100%;
  text-align: center;
  padding-top: 18px;
}

.row {
  margin: 0;
}

.input-group .form-control {
  border-radius: 0;
  height: 46px;
  width: 475px;
  font-weight: 300;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

// HYDRO LOGO

.hydro-logo {
  left: 55px;
}

.hydro-logo,
.search-input,
.glyphicon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

// INPUT SEARCH

.glyphicon-search {
  top: 0;
  height: 46px;
  border-radius: 0;
  width: 50px;
  color: #777777;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #e6e6e6;
}

// LOGIN / REGISTER

.login-register {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 24px;
  padding-right: 130px;
  font-family: "Andada", sans-serif;
}

.yellow-line {
  display: block;
}

@media (max-width: 1200px) {
  .input-group .form-control {
    width: 100%;
  }
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  text-transform: uppercase;
}

// NAVIGATION MENU SECTION

.main-header {
  height: 53px;
  border-top: 1px solid #e6e6e6;
  padding-top: 19px;
  margin-top: 31px;
}

.main-header-category {
  padding: 0;
}

.navigation__list {
  margin-left: 201px;
}

.navigation__item {
  padding: 0 22px 0 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.navigation__link,
.login-register__title,
.shopping-cart__title {
  color: #000;
}

.login-register__title {
  margin: 0;
}

.shopping-cart--icon {
  position: absolute;
  display: inline-block;
  background-image: url("../images/shopping_cart-icon.png");
  height: 20px;
  width: 22px;
}

.badge {
  position: absolute;
  bottom: 76%;
  background-color: #044c7e;
  left: 18.8em;
  width: 13px;
  height: 13px;
}

.shopping-cart__number {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.1px;
}

.account__link--shopping-icon {
  padding-left: 11px;
}

.shopping-cart__title {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Lato", sans-serif;
  padding-left: 13px;
  bottom: 4px;
}

.shopping-cart--icon,
.shopping-cart__title {
  position: relative;
  left: 13.8em;
}

.shopping-cart--icon,
.shopping-cart__title:hover {
  text-decoration: underline;
}

p.account__title--prize-info {
  font-size: 12px;
  font-family: "Lato";
  font-weight: 300;
}

// SECOND PRODUCTION PAGE
// MY ACCOUNTS / ORDERS & LOGO

.hydro-logo2 {
  position: relative;
  margin-left: 40px;
}

.hydro-logo2__image2 {
  position: absolute;
  top: 95%;
  left: 55.5%;
}

.search-input-separate {
  padding-left: 60px;
}

.account.col-md-2 {
  width: 28%;
  padding: 0;
}

.account__image {
  line-height: 6px;
  padding-bottom: 6px;
  
}

.account__link--favorite-icon {
  margin-left: 2.2em;
}

.navigation__item--second, .navigation__item--third {
  margin-right: 20px;
  padding: 0 22px 0 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation__item--third {
  line-height: 53px;
}

.navigation__link--category {
  color: #989898;
}

.account__title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Lato";
  padding-left: 5px;
  font-weight: 700;
  color: #000000;
  line-height: 60px;
}

.account {
  left: 9%;
  top: 0;
}

.account__link-separate {
  padding-left: 30px;
}

// SHOPPING CART & LOG OUT ICON

.log-out--image {
  position: absolute;
  left: 51%;
  top: 0;
}

.log-out--link {
  padding-left: 50px;
}

.special-offer__title {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Lato", sans-serif;
  padding-left: 13px;
  bottom: 4px;
  color: #044c7e;
  margin-left: 80px;
  line-height: 58px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .social__item--facebook {
    padding-left: 8em;
  }

  .dropdown-language {
    margin-right: 4.5em;
  }

  .hydro-logo {
    margin-left: -9.5em;
  }
  // uwaga zagnieżdzony input
  .form-control.form-control--expand {
    width: 25em;
    margin-left: -1.5em;
  }

  .login-register__title {
    margin-right: 1em;
    font-size: 18px;
  }

  .login-register-image {
    width: 38%;
    margin-right: 2em;
  }

  .shopping-cart--icon,
.shopping-cart__title {
    left: -5em;
  }

  .badge {
    left: -3.2em;
  }

  .navigation__list {
    margin-left: 8.8em;
    font-size: 11px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .social__item--facebook {
    padding-left: 8em;
  }

  .dropdown-language {
    margin-right: 4.5em;
  }

  .hydro-logo {
    left: 1.5em;
  }
  // uwaga zagnieżdzony input
  .form-control.form-control--expand {
    width: 20em;
  }

  .login-register__title {
    margin-right: 2em;
    font-size: 14px;
  }

  .login-register-image {
    width: 65%;
    margin-right: 2em;
  }

  .shopping-cart--icon,
.shopping-cart__title {
    left: -5em;
  }

  .badge {
    left: -3.2em;
  }

  .navigation__list {
    margin-left: 7.8em;
  }
}

@media(min-width: 1200px) {
  .social__item--facebook {
    padding-left: 14.5em;
  }

  .dropdown-language {
    margin-right: 13.5em;
  }

  .hydro-logo {
    left: 3.2em;
  }

  .login-register__title {
    margin-right: 5em;
    font-size: 14px;
  }

  .login-register-image {
    width: 40%;
    margin-right: 4em;
  }

  .shopping-cart--icon,
.shopping-cart__title {
    left: 15em;
  }

  .badge {
    left: 20.2em;
  }

  .navigation__list {
    margin-left: 14.5em;
  }
}