.newsletter {
  height: 169px;
  background-color: #13af99;
  color: #fff;
  font-family: "PT Sans", sans-serif;
}

.newsletter__title {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 700;
  // line-height: 39px;
  margin: 66px 0 6px 171px;
}

.newsletter__description {
  font-size: 16px;
  color: #aafbef;
  margin: 0 0 0 171px;
}

.newsletter__input {
  margin-top: 74px;
  width: 382px;
  height: 41px;
  color: #5a5a5a;
  margin-left: 70px;
}

.newsletter__button {
  background-color: #044c7e;
  border: none;
  height: 41px;
  text-transform: uppercase;
  width: 128px;
  margin-right: 20px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .newsletter__title {
    margin: 66px 0 6px 0;
    font-size: 2.1rem;
  }
  
  .newsletter__description {
    margin-left: 0;
    font-size: 1.2rem;
  }

  .newsletter__input {
    width: 134px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .newsletter__title {
    margin: 66px 0 6px 30px;
    font-size: 2.7rem;
  }
  
  .newsletter__description {
    margin-left: 30px;
    font-size: 1.2rem;
  }

  .newsletter__input {
    width: 282px;
  }
}

// @media(min-width: 1200px) {
//   .newsletter__title {
//     margin: 66px 0 6px 50px;
//     font-size: 3rem;
//   }
  
//   .newsletter__description {
//     margin-left: 50px;
//     font-size: 1.4rem;
//   }
// }