.offer {
  background-color: #f0f2f1;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  width: 100%;

  &-info--space, &-second-info--space {
    // margin: 0;
    padding: 0 6.5px;
  }

  &-info__list, &-second-info__list {
    list-style: none;
    padding: 0;
    // padding: 0;
    
  }

  &-info__item--wrapper::after {
    position: absolute;
    top: 100%;
    left: 75%;
    content: "";
    display: both;
    width: 288px;
    height: 235px;
    background-color: #044c7e;
    transform: rotate(30deg);
  }

  

  &-info__item--wrapper  {
    position: relative;
    height: 46px;
    max-width: 393px;
    background-color: #044c7e;
    margin: 41px auto 0;
    // padding: 0;
    overflow: hidden;
  }

  &-info__link {
    &:hover {
      text-decoration: none;
    }
  }

  &-info--bar {
    display: inline-block;
    color: #044c7e;
    height: 43px;
    max-width: 393px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 13px;
    background-color: #fff;
    // padding: 0;

    &:hover {
      background-color: #ffc600;
    }
  }

  // SECOND OFFER COLUMN
  &-second-info__item--wrapper {
    // padding: 0;
    height: 262px;
    margin: 41px auto 0;
    max-width: 393px;
  }

  &-second-info__image {
    max-width: 100%;
    height: auto;
    // margin: 0 6px;
  }

 &-position {
    display: flex;
    justify-content: center;
  
    &__button {
      display: inline-block;
      border-radius: 10px;
      background-color: #044c7e;
      color: #fff;
      font-size: 18px;
      line-height: 57px;
      height: 45px;
      width: 212px;
      margin-top: 41px;
      margin-bottom: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
  
    &__arrow-icon {
      margin-left: 10px;
    }
  }
}



// @media(max-width: 767px) {
//   .offer {
//     &-info__item--wrapper::after {
//       left: 75%;
//     }
//   }
// }

// @media(min-width: 768px) and (max-width: 991px) {
//   .offer {
    
//     &-info__item--wrapper::after {
//       left: 75%;
//     }
//   }
// }

// @media(min-width: 992px) and (max-width: 1199px) {
//   .offer {
//     &-info__item--wrapper::after {
//       left: 75%;
//     }
//   }
// }

@media(min-width: 1200px) {
  .offer {
    &-info__item--wrapper::after {
      left: 75%;
    }

    &-info--space, &-second-info--space {
      width: 26%;
    }
  
    &-info__list, &-second-info__list {
      position: relative;
      right: 4.5em;
    }
  }
}

