.production {
  text-align: center;
  height: 403px;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/layer_22.png");
  // padding: 0;
  margin-top: 49px;
  width: 100%;

  &__title {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    // padding: 47px 0 0 0;
    // margin: 0;
  }

  &__description {
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 39px;
  }
}

.slider {
  &__list {
    list-style: none;
    position: relative;
    padding: 0;
    // margin: 0 16em 0 0;
    // width: 82.5%;
    // margin: 0 11em;
    // left: 3.8em;
    // margin-right: 10em;
  }

  &__item--space {
    // margin: 0 50px;
    // margin: 0 auto;
    padding: 0 12.5px;
  }

  &__item--wrapper {
    height: 207px;
    max-width: 285px;
    background-color: #fff;
    border: 1px solid #f0f2f1;
    // margin-left: 20px;
    margin: 0 auto;
    // padding-bottom: 40px;
    // padding-right: 250px;
    overflow: hidden;
    
  }

  &__link {
    height: 237px;
    width: 285px;
  }

  &__image {
    height: 120px;
    margin-top: 12px;

    &--space {
      padding-top: 16px;
    }
  }

  &__paragraph {
    text-align: center;
    width: 100%;
    font-weight: bold;
    line-height: 22px;
    color: #010101;
    font-size: 22px;
    margin-top: 10px;
    // position: absolute;
    // top: 77%;
    // left: 70%;
    // transform: translateX(-70%);
  }

  &__image--position-cable {
    margin: -1em 0 0 57px;
    // padding: 0 1px; 
    height: 188px;
    max-width: 219px;
    width: 100%;
    
  }

  &__paragraph--position-cable {
    position: relative;
    bottom: 1.8em;
    left: 0;
    right: 0;
  }
}

.carousel-inner {
  height: 200px;
}

.carousel-control {
  border-radius: 50%;
  height: 47px;
  width: 47px;
  background-color: #034b7d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 12%;
}

@media(max-width: 767px) {
  .carousel-control {
    margin: auto 10%;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .carousel-control {
    margin: auto 6%;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .carousel-control {
    margin: auto 4%;
  }
}

@media(min-width: 1200px) {
  &__item--wrapper {
    left: 100%;
  }

  &__list {
    margin-right: 5em;
  }

  
}
