.production {
  text-align: center;
  height: 403px;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/layer_22.png");
  padding: 0;
  margin-top: 49px;
  width: 100%;

  &__title {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 47px 0 0 0;
    margin: 0;
  }

  &__description {
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 39px;
  }
}

.slider {
  &__list {
    position: relative;
    list-style: none;
    margin: 0 300px 0 0;
    // width: 82.5%;
    padding: 0 0 0 10.7em;
  }

  &__item--space {
    margin: 0 50px;
    // padding: 0 10em;
  }

  &__item--wrapper {
    height: 207px;
    width: 285px;
    background-color: #fff;
    border: 1px solid #f0f2f1;
    // margin-left: 20px;
    margin: 0 auto;
    // padding-bottom: 40px;
    // padding-left: 50px;
  }

  &__link {
    height: 237px;
    width: 285px;
  }

  &__image {
    height: 120px;
    margin-top: 12px;

    &--space {
      padding-top: 16px;
    }
  }

  &__paragraph {
    text-align: center;
    width: 100%;
    font-weight: bold;
    line-height: 22px;
    color: #010101;
    font-size: 22px;
    margin-top: 10px;
    // position: absolute;
    // top: 77%;
    // left: 70%;
    // transform: translateX(-70%);
  }

  &__image--position-cable {
    position: absolute;
    bottom: 18%;
    right: 0;
    left: 38%;
    height: 188px;
  }

  &__paragraph--position-cable {
    position: relative;
    top: 6em;
    left: 0;
    right: 0;
    // padding: 0;
  }
}

.carousel-inner {
  height: 200px;
}

.carousel-control {
  border-radius: 50%;
  height: 47px;
  width: 47px;
  background-color: #034b7d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 209px;
}


// .carousel.slide {
//   // font-size: 0;
  
// }